body {
  font-family: 'Helvetica', 'Arial';
  margin: 0;
  padding: 0;
  background-image: url("img/fondo_mundo_patio.jpg");
}
/*
sintaxis sass
@mixin margenInterno($parametro)*/
header {
  background: #bfd989;
}
header .top {
  padding: 0.8em;
}
header .top img {
  margin-left: 0.3em;
  text-align: left;
}
.normal {
  font-weight: normal;
}
header .top {
  width: 300px;
  max-width: 100%;
  padding: 1em;
  transition: .5s all;
}
header .top:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 1em;
}
section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1em;
  padding: 0.5em;
}
section article .card {
  display: grid;
  grid-template-columns: 50% 50%;
}
section article .card img {
  width: 250px;
  max-width: 100%;
}
/*
.items, .itemsFour{
	display: grid;
	grid-template-columns: auto auto auto;
	article{
		background:@grisSuave2;
		.margen(1em);
		.imgItems{
			float: left;
			.anchoImg(160px,100%);
			.margen(.8em)
		}
		.fo{
			color: @grisOscuro;
			.negrita(bold);
			.margenInterno(.5em);
		}
	}
}
section.banner{
	.fondoImagen(@banner,25em);
	text-align: center;
	color: @grisSuave;
	.margenInterno(3em);
	.text{
		font-size: 4em;
		.negrita(900);
	}
	p{
		display: block;
		margin: -0.7em auto;
	}
//falta
}
section.week{
	.ancho(6em);
	text-align: center;
	margin: 0 auto;
	h2{
		font-size: 2.5em;
	}
	.margenAbajo(3em);
}

.items, .itemsFour{
	display: grid;
	grid-template-columns: auto auto auto;
	article{
		background:@grisSuave2;
		.margen(1em);
		.imgItems{
			float: left;
			.anchoImg(160px,100%);
			.margen(.8em)
		}
		.fo{
			color: @grisOscuro;
			.negrita(bold);
			.margenInterno(.5em);
		}
	}
}
.itemsFour{
	grid-template-columns: auto auto auto auto;

}
.back{
	article{
		background: transparent;
	}
}
.bottom{
	background:@grisOscuro;
	color: @grisSuave2;
	.margenInterno(.5em);
	text-align: center;
	i{
		.margenDerecha(.3em);
	}
}*/
.btn {
  background: #00c8c8;
  text-align: center;
  color: #f3f3f1;
  font-weight: 900;
  display: inline-block;
  width: 3em;
  padding: 1em;
  margin-top: 1.1em;
  text-decoration: none;
}
nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background: #ffffff;
  padding: 0.5em;
}
nav ul.nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  list-style: none;
}
nav li a {
  color: #d95a11;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
nav li a:hover {
  color: #bfd989;
  transition: .5s all;
}
