nav{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	background: @blanco;
	.margenInterno(.5em);
	ul.nav{
		display: grid;
		grid-auto-flow:column;
		grid-gap:1.5em;
		list-style: none;
	}
	li{
		a{
			color:@naranja;
			display: block;
			text-decoration: none;
			.negrita(bold);
			text-transform:uppercase;
			&:hover{
				color:@verdeSuave;
				transition: .5s all;
			}
		}
	}
}
